body{

	background-color:#e6e6e6;
}
p {
	font-size: 1.1rem;
	line-height: 1.8rem;
	font-weight: 300;
  }

p::first-letter {
	font-size: 300%;
	color: pink;
	font-weight: 600;
}
  
li{	padding-left: .5rem;}


.packageBullet li{
	padding-bottom: .5rem;;
}

ol, ul {
    padding-left: 0rem;
	text-align: left;
}

/***********************************************************/
/*                      NAVIGATION                         */
/***********************************************************/
#mainNav {
	height:125px;
	font-weight: 450;	
}

a:hover{box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;}

/****** NAVIGATION Collapse Button *****/ 

#navBarButtons{
	width:100%;
	display: flex;
	justify-content: space-between;
}

button{
	background-color: white;	
	-webkit-box-shadow: 2px 2px 3px 2px #A7A7A7; 
	box-shadow: 2px 2px 3px 2px #A7A7A7;
	margin-top: 3.5rem;
	
}
#navBarButtons .btn{
	padding: .25rem;
}
button:hover {
	box-shadow: 2px 2px 8px 2px purple;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
 }
 
 .navbar-toggler:focus,
 .navbar-toggler:active,
 .navbar-toggler-icon:focus {
	 outline: none;
	 box-shadow: 2px 2px 8px 2px purple;
 }

#hamburgerButton {	
	margin-left: .65rem;
	border-radius: 10%;
	height:2rem;
	width: 2.5rem;
}

a img{
	width: 250px;
	height: 110px;

 }


  

 /****** Overwrite _navbar.scss nav links in drop down menu *****/ 
.navbar-light .navbar-nav .nav-link{ 
	padding: .5rem 1rem;
	color: #495057;
	
}
/*** NAVBAR Toggle button ***/
.navbar-light .navbar-toggler{
	background-color: white;
	padding: 1px;
}

.navbar-toggler{
	padding:.2rem .5rem;
}

/****** NAVIGATION  DROP DOWN MENU *****/ 
.navbar-nav {
	padding-bottom: 0;
	margin-top: 2rem;
	background-color:whitesmoke;	
	width: 20%;
	color: lightgray;
}


@media only screen and (max-width: 875px) {
	.navbar-nav {
		width: 25%;
	}
}


@media only screen and (max-width: 800px) {
	.navbar-nav {
		width: 27%;
	}
}


@media only screen and (max-width: 650px) {
	span{font-size: 1rem;}
	
}

@media only screen and (max-width: 775px) {
	.navbar-nav {
		width: 33%;
	}
}

@media only screen and (max-width: 475px) {
	.navbar-nav {width: 38%;}
}

@media only screen and (max-width: 405px) {
	.navbar-nav {width: 45%;}
	span{font-size: .9rem;}
}

@media only screen and (max-width: 320px) {
	.navbar-nav {
		width: 50%;
	}
}

@media only screen and (max-width: 300px) {
	.navbar-nav {width: 58%;}

}


#navIcon {height: 60px; width: 60;}

@media only screen and (max-width: 350px) {
	#navIcon{
		height: 45px;
		width: 45px;
	}
}


#navbarNavAltMarkup i{
	margin-right:1rem;
}


/***********************************************************/
/*                      CONTAINERS                         */
/***********************************************************/
.container {
    width: 60vw;
	padding:0rem 1rem;
	text-align: center;
 }
 @media only screen and (max-width: 650px) {
	.container{
		width:90vw;
	}
}


#containerText {
margin:auto;
	padding: .5rem 1rem;
	width: 60vw;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;	
}

#containerContent {
	width:30vw;
	margin: 10rem auto 1rem auto;
	text-align: center;

	
}
#containerContent img{
	width:70%;
}

/***********************************************************/
/*                      CARD                               */
/***********************************************************/


.card, .cardPackage {
	width: 50vw; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body {
    padding: 1.8em;
}

 .cardPackage {
	margin: 0 auto 2rem auto;
}

@media only screen and (max-width: 1000px) {
	#containerContent{
		width:60vw;
	}
}

@media only screen and (max-width: 900px) {
	.card, #containerContent,#containerText{
		width:75vw;
	}
}
@media only screen and (max-width: 800px) {
	.card, #containerContent,containerText{
		width:80vw;
	}
}
@media only screen and (max-width: 700px) {
	.card, #containerContent,#containerText{
		width:90vw;
	}
}








/********************************************************************************************************/
/*   Example from http://tangledindesign.com/how-to-create-a-contact-form-using-html5-css3-and-php/                   
/********************************************************************************************************/
	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}


  a {
	  font-family: JosefinSans-Bold;
	  font-size: 1rem;
	  line-height: 1.7;
	  color: #666666;
	  margin: 0px;
	  transition: all 0.4s;
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
  }
  
  a:focus {
	  outline: none !important;
  }
  
  a:hover {
	  text-decoration: none;
  }

    



  
/***********************************************************/
/*                     Contact                             */
/***********************************************************/

.containerContact{	
	width:50vw;
	margin: 10rem auto 4rem auto;
	padding:1rem .5rem;
	
 }

 .form-control {
	 margin-bottom: .75rem;;
	 padding:.7rem;
	 width: 100%;
 }

 @media only screen and (max-width: 1000px) {
	.containerContact{width:50vw; }
}


@media only screen and (max-width: 900px) {
	.containerContact{width:75vw; }
}
@media only screen and (max-width: 800px) {
	.containerContact{width:80vw; }
}
@media only screen and (max-width: 700px) {
	.containerContact{width:85vw; }
}
@media only screen and (max-width: 600px) {
	.containerContact{width:90vw; }
}
  .container-contact100 {
	font-family: 'HelloHoney';
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: transparent;
	position: relative;
	z-index: 1;
  }
  
  .contact100-map {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }
  
  .wrap-contact100 {	
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem 4rem;  
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 576px) {
	.wrap-contact100 {
	  padding: 1rem 1rem;
	}
  }
  



  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
	width: 95%;
	position: relative;
	background-color: #fff;
	margin: .5rem auto;
  }

  
  input.input100 {
	height: 62px;
	padding: 0 20px 0 23px;
	font-size: 1.3rem;
  }
  
  
  textarea.input100 {
	min-height: 199px;
	padding: 19px 20px 0 23px;
	font-size: 1.5rem;
  }


  #submit {
	background-color:blueviolet;
	
	color:white;
    width:127px;
    height:38px;
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}
  
/***********************************************************/
/*              END    Contact                             */
/***********************************************************/

  .focus-input100-1, 
  .focus-input100-2 {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
  }
  
  .focus-input100-1::before,
  .focus-input100-2::before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 1px;
	background-color: #57b846;
  }
  
  .focus-input100-1::before {
	top: -1px;
	left: 0;
  }
  
  .focus-input100-2::before {
	bottom: -1px;
	right: 0;
  }
  
  .focus-input100-1::after,
  .focus-input100-2::after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 0;
	background-color: #57b846;
  }
  
  .focus-input100-1::after {
	top: 0;
	right: -1px;
  }
  
  .focus-input100-2::after {
	bottom: 0;
	left: -1px;
  }
  
  .input100:focus + .focus-input100-1::before {
	-webkit-animation: full-w 0.2s linear 0s;
	animation: full-w 0.2s linear 0s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
  }
  
  .input100:focus + .focus-input100-1::after {
	-webkit-animation: full-h 0.1s linear 0.2s;
	animation: full-h 0.1s linear 0.2s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
  }
  
  .input100:focus + .focus-input100-1 + .focus-input100-2::before {
	-webkit-animation: full-w 0.2s linear 0.3s;
	animation: full-w 0.2s linear 0.3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
  }
  
  .input100:focus + .focus-input100-1 + .focus-input100-2::after {
	-webkit-animation: full-h 0.1s linear 0.5s;
	animation: full-h 0.1s linear 0.5s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
  }
  
  
  @keyframes full-w {
	to {
	  width: calc(100% + 1px);
	}
  }
  
  @keyframes full-h {
	to {
	  height: calc(100% + 1px);
	}
  }
  
  
  /*==================================================================
  [ Restyle Checkbox ]*/
  
  .contact100-form-checkbox {
	padding-top: 12px;
	padding-bottom: 28px;
  }
  
  .input-checkbox100 {
	display: none;
  }
  
  .label-checkbox100 {
	display: inline-block;
	position: relative;
	padding-left: 32px;
	cursor: pointer;
	font-family: 'HelloHoney';
	font-size: 15px;
	color: #1b3815;
	line-height: 1.2;
	margin: 0;
  }
  
  .label-checkbox100::before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 15px;
	color: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 22px;
	height: 22px;
	border: 1px solid #e6e6e6;
	background: #fff;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  .contact100-form-title{
	font-family: 'HelloHoney';
	font-size: 2.5rem;
	margin: 1rem;
  }

  .label-checkbox100 {
	  font-size: 1.5rem;
  }



.cardShadow{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.width50{width: 50%;}




  
/***********************************************************/
/*                     FOOTER                              */
/***********************************************************/

footer img{
	width:100%;
}

footer{
	font-weight: 500;
 	font-size: 2.1rem;
	line-height: 1.2rem;
}

footer a{
	font-size:2rem;
	color:black;
	font-family: 'HelloHoney';
	text-decoration: none;
}

#github{
	padding:.5rem;
	line-height: .5rem;
	background-color: black;
	border-color:black;
}



ol li{
	margin: 1rem;
	line-height: 1.7rem;
}

